html {
  background-color: gray;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12pt;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

#dashboard {
  display: grid;
  grid-template-columns: minmax(0, 0.18fr) minmax(0, 0.57fr) minmax(0, 0.25fr);
  grid-template-rows: minmax(0, 1fr);
  margin: 0;
  padding: 0;
  flex: 1;
  overflow: auto;
}

main {
  background-color: #F5F5F5;
}

.dashboard-card {
  background-color: #FCFCFC;
  margin: 2rem;
  padding: 1.5rem;
  border-radius: 20px;
}

.header-cards {
  display: flex;
  flex-flow: row;
}

.dashboard-card .title {
  font-size: larger;
  font-weight: 500;
}

.dashboard-card .upcoming-sessions {
  list-style: none;
  padding-left: 3rem;
  padding-top: 1rem;
  font-size: larger;
  line-height: 2;
}

.upcoming-sessions li {
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row;
}

.upcoming-sessions i {
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 0.75rem;
}

.session-details {
  display: inline-block;
}

aside {
  background-color: green;
}

footer {
  background: darkgray;
  min-height: 60px
}
