html {
  background-color: gray;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12pt;
}

body {
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

#dashboard {
  display: grid;
  grid-template-columns: minmax(0, 0.18fr) minmax(0, 0.57fr) minmax(0, 0.25fr);
  grid-template-rows: minmax(0, 1fr);
  margin: 0;
  padding: 0;
  flex: 1;
  overflow: auto;
}

nav {
  background-color: #FCFCFC;
  display: flex;
  flex-flow: column;
  border-right: 1px solid #E3E3E3;
}

nav ul {
  list-style: none;
  padding-left: 3rem;
  padding-top: 1rem;
  font-size: larger;
  line-height: 2;
}

nav ul li {
  margin-bottom: 1rem;
  color: #4C4C4C;
}

nav ul li:hover {
  font-weight: 600;
}

nav ul li i {
  margin-right: 1rem;
}

nav hr {
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

main {
  background-color: #F5F5F5;
}

.dashboard-card {
  background-color: #FCFCFC;
  margin: 2rem;
  padding: 1.5rem;
  border-radius: 20px;
}

.header-cards {
  display: flex;
  flex-flow: row;
}

.header-card {
  flex-grow: 1;
  margin: 0.75rem 0.75rem;
  border-radius: 20px;
  padding: 1.5rem;
  text-align: center;
  font-weight: 500;
  font-size: x-large;
}

.card-1 {
  background-color: #484848;
  color: #FCFCFC;
}

.card-2 {
  background-color: #FFE7D6;
}

.card-3 {
  background-color: #D6D7FF;
}

.callout {
  font-size: 3rem;
  font-weight: 600;
}

.description {
  font-size: 1.2rem;
}

.dashboard-card .title {
  font-size: larger;
  font-weight: 500;
}

.dashboard-card .upcoming-sessions {
  list-style: none;
  padding-left: 3rem;
  padding-top: 1rem;
  font-size: larger;
  line-height: 2;
}

.upcoming-sessions li {
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row;
}

.upcoming-sessions i {
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 0.75rem;
}

.session-details {
  display: inline-block;
}

aside {
  background-color: green;
}

footer {
  background: darkgray;
  min-height: 60px
}
