html {
  background-color: #E3CBB3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12pt;
  color: #333333;
}

#sign-up {
  min-width: 600px;
  min-height: 800px;
  width: 75%;
  margin: 5% auto 0 auto;
  background-color: #FCFCFC;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: minmax(0, 1fr);
}

.sign-up-form {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 7rem;
  grid-column: 1;
  grid-row: 1;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-up-decoration {
  grid-column: 2;
  grid-row: 1;
  border-left: 1px solid #777777;
  background-image: url("./img/1.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 0 10px 10px 0;
}

.sign-up-title {
  margin-bottom: 1.5rem;
}

.trailer-text {
  margin-top: 2rem;
  font-size: 0.90rem;
}

.trailer-text span {
  font-weight: 600;
}

#sign-up h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #333333;
  margin: 0;
}

#sign-up h3 {
  font-size: 1rem;
  font-weight: 400;
  color: #999999;
  margin: 0;
}

.control {
  margin-bottom: 1rem;
}

.control input, label {
  display: block;
  font-weight: 500;
}

.control label {
  font-size: 0.95rem;
}

.control input {
  border: 1px solid #CCC;
  width: 90%;
  min-height: 2rem;
  border-radius: 5px;
  margin: 0.5rem 0;
  padding-left: 1rem;
}

.control-option {
  display: block;
  margin-bottom: 0.5rem;
}

.control-option label, input, a {
  display: inline;
}

.control-option a {
  text-align: end;
}

.control-submit {
  margin-top: 2rem;
}

.control .sign-in {
  background-color: #C49C6C;
  border: 2px solid #AE7E46;
  border-radius: 15px;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: #FCFCFC;
}

.decoration-text-frame {
  color: white;
  font-weight: 400;
  background-color: rgba(214, 177, 136, 0.5);
  backdrop-filter: blur(5px);
  border: 1px solid #744C2C;
  border-radius: 6px;
  margin: 2rem;
}

.decoration-text-frame blockquote {
  font-size: 2rem;
  font-weight: 600
}

.decoration-text-frame p.quote-name {
  padding-right: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 0;
  text-align: end;
}

.decoration-text-frame p.quote-title {
  padding-right: 3rem;
  font-size: 1.2rem;
  text-align: end;
}
